    <div class="page-header">
      <h1>JavaScript Projects <small>I am just a beginner</small></h1>
    </div>
<div class="container">
    
    <%= render "js_projects/project_1" %>
    <%= render "js_projects/project_2" %>
    <%= render "js_projects/project_3" %>
    

    
    <div class="project-header">
        <button class="project-show btn btn-primary" id="buttonx">Show</button>
        <h4 class="project-name">Project x</h4>
    </div>
    <div class="row project-container " id="containerx">
        <div id="container">
            <div id="animate">
            </div>
        </div>
    </div>

</div>