    <div class="project-header">
        <button class="project-show btn btn-primary" id="button3">Show</button>
        <h4 class="project-name">Project 3</h4>
    </div>
    <div class="row project-container" id="container3">
        <div id="container">
            <div id="animate">
            </div>
        </div>
    </div>