    <div class="project-header">
        <button class="project-show btn btn-primary" id="button1">Show</button>
        <h4 class="project-name">Project 1</h4>
        <!-- <button class="test-button" onclick="myToggle('Show')">click</button>  !-->
    </div>
    <div class="row project-container" id="container1">
        <h3 id="demo">Here I am</h3>
        <button class="project-1-btn btn btn-info" id="project-1-1">Hi</button>
        <button class="project-1-btn btn btn-info" id="project-1-2">Joke</button>
        <p class="project-1-text lead" id="project-1-text">Hello world!</p>
        <p class="project-2-text lead" id="project-2-text">A man asks a farmer near a field, “Sorry sir, would you mind if I crossed your field instead of 
        going around it? You see, I have to catch the 4:23 train.”<br>
The farmer says, “Sure, go right ahead. And if my bull sees you, you’ll even catch the 4:11 one.”<br>
<small>More jokes: <%= link_to "here", "http://www.short-funny.com/#ixzz4OJgtXdIv", target: "_blank", rel: "nofollow" %></small></p>
    </div>
