//project 1
#container1 > * {
  margin: 5px;
}

#project-1-text {
  display: none;
}

#project-2-text {
  display: none;
  width: 750px;
  margin: auto;
}

//project 2
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
  margin: auto;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
}