// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
@import "bootstrap-sprockets";
@import "bootstrap";

// main page
body {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #333444;
  
}
.main {
  background-color: #c0c0c0;
  padding-top: 20px;
}
.top-menu {
  font-size: 20px;
  background-color: #A6A6A6;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
}
.top-menu-item {
  display: inline;
  margin: 0px 40px 0px 40px;
  -background-color: #c0c0c0;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

.top-menu-item:hover {
  background-color: #c0c0c0;
}
.img1 {
  background-image: url(img1.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 35px;
  background-color: #c0c0c0;
  opacity: 0.4;
}
.img2 {
  background-image: url(img2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 35px;
}

.main h1 {
  padding: 7px;
  border: 2px solid #ffffff;  
  background-color: #c0c0c0;
  border-radius: 25px;
  margin: 15px;
 }

.phone-frame {
  text-align: center;
  background-color: #535353;
  max-width: 500px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 5px solid #ffffff;
}
.menu-screen{
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-item {
  margin: 15px;
  width: 130px;
  height: 130px;
  background-color: #c0c0c0;
  border-radius: 25px;
  line-height: 130px;
  vertical-align: middle;
  border: 2px solid #ffffff;
}
.menu-item:hover {
  background-color: #ffffff;
}


.bottom-menu  {
  border-top: 1px solid #636366;
  background-color: #A6A6A6;
}
ul {
  list-style-type: none;
  padding-bottom: 30px;
}
ul li {
  display: inline-block;
  margin: 7px;
  padding: 5px;
}

// jspractice 
.project-container {
  height: 500px;
  border: 1px solid blue;
  margin-bottom: 15px;
  position: relative;
  display: none;

}
.project-show, .project-name {
  display: inline-block;
}

.project-header {
  width: 150px;
  text-align: left;
  border: 1px solid blue;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px;
}