<ul class="nav nav-tabs">
  <li role="presentation" class="active"> <%= link_to 'Home', root_path %></li>
  <li role="presentation" class="disabled"><a href="#">About</a></li>
  <li role="presentation" class="disabled"><a href="#">Blog</a></li>
  <li role="presentation" class="disabled"><a href="#">Ask</a></li>
  <li role="presentation" ><a href="#">Koxana</a></li>
  <li role="presentation" class="disabled"><a href="#">Family</a></li>
  <li role="presentation" class="disabled"><a href="#">Gallery</a></li>
  <li role="presentation" class="disabled"><a href="#">Shop</a></li>
  <li role="presentation">
      <%= link_to apps_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
      <%= "Apps" %>
      <%= content_tag :span, "", class: "caret" %>
      <% end %> 
    <ul class="dropdown-menu">
      <li><%= link_to 'JS Practice', jspractice_path %></li>
      <li><a href="#">CSS Practice</a></li>
    </ul>
  </li>
  <li role="presentation" class="disabled"><a href="#">Contact</a></li>
</ul>