<!DOCTYPE html>
<html>
<head>
  <title>seCond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
 
  <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div> <!-- for flash messages, alternative: <%= content_tag(:div, message, class: "alert alert-#{message_type}") %> !-->
      <% end %>
    </div
  <%= yield %>

</body>
</html>
